.visualizer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #333333; /* Dark grey background */
  color: #ffffff; /* White text */
  font-size: 18px;
  text-align: center;
}

.visualizer-content img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the area while maintaining its aspect ratio */
}
